/* your code */
table {
	width: 100%;
	border: none;
	border-radius: 10px;
}
table, th, td, tr {
	
	border-collapse: collapse;
}

th{
	background-color: skyblue;
	color:white;
}

td {
	border: 1px solid #ddd;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

th, td {
	text-align: left;
	padding: 10px 10px
}
